<div class="cd-header">
    <img src="../../../assets/img/14.png" alt="cd">
</div>

<div class="redeli-container">
    <div class="redeli-center">
        <div class="redeli-block redeli-problem">
            <div class="redeli-star">
                <img src="../../../assets/img/shape 2.png" alt="star2">
            </div>
            <div class="redeli-problem-content">
                <p class="redeli-problem-title segoe-ui-bold">The Problem</p>
                <p class="redeli-problem-desc segoe-ui-regular">
                    The process of visiting hospitals can be complex and overwhelming for patients, leading to
                    frustration and inefficiency. This problem encompasses various challenges faced by patients from
                    scheduling appointments to receiving medical care and follow-up</p>
            </div>
        </div>
        <div class="redeli-block redeli-solution">
            <div class="redeli-solution-content">
                <p class="redeli-solution-title segoe-ui-bold">Our Solution</p>
                <p class="redeli-solution-desc segoe-ui-regular">
                    An app can enhance the patient experience, improve operational efficiency, and ultimately provide
                    better healthcare outcomes.
                </p>
            </div>
            <div class="redeli-star">
                <img src="../../../assets/img/shape 2.png" alt="star2">
            </div>
        </div>
        <div class="redeli-block text-center">
            <img src="../../../assets/img/Design thinking.png" alt="mockup1">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Research</p>
            <p class="segoe-ui-regular" style="margin-bottom: 24px !important;">
                We conducted both types of research: Primary research and secondary research. Here are the results after
                2 weeks of researching documents on the Internet, interviewing the target audience and sending out
                surveys:
            </p>
            <p class="segoe-ui-regular">
                - <b>Result 1:</b> People are not very satisfied with their medical treatment process (2125 dissatisfied
                reviews in the medical examination registration process)
            </p>
            <p class="segoe-ui-regular">
                - <b>Result 2:</b> People often arrive at the hospital early to wait in line and have to wait an average
                of 30 minutes for their turn.
            </p>
            <p class="segoe-ui-regular">
                - <b>Result 3:</b> Saving time and still having a good place to get medical care is everyone's biggest
                wish.
            </p>
        </div>
        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">User Personas</p>
            <p class="segoe-ui-regular">
                Based on the results of the primary research, we defined 3 User Personas:
            </p>
        </div>
        <div class="cd-persona">
            <img src="../../../assets/img/Persona2.png" alt="persona2" width="721" height="288">
            <img src="../../../assets/img/Persona3.png" alt="persona3" width="721" height="320">
            <img src="../../../assets/img/Persona1.png" alt="persona1" width="712" height="282">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Problem Statement</p>
            <p class="segoe-ui-regular" style="margin-bottom: 24px !important;">
                1. A is a student and a person who focuses on the quality of life. Therefore, A needs a solution to help
                <b>save time</b> when going to the doctor when needed.
            </p>
            <p class="segoe-ui-regular" style="margin-bottom: 24px !important;">
                2. B is an office worker who often goes for regular check-ups and needs to be introduced to a reputable
                clinic with reasonable service prices because B has <b>limited time</b> and <b>moderate finances</b>.
            </p>
            <p class="segoe-ui-regular" style="margin-bottom: 24px !important;">
                3. H is a businessman with a family, so he is very busy. Therefore, he needs a solution that will help
                him get medical checkups and treatment <b>quickly</b> and be more proactive with his time. He also wants
                reviews that <b>objectively evaluate hospital criteria</b> so that he can make reasonable choices.
            </p>
        </div>
        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Value Proposition</p>
        </div>
        <div class="cd-value-prop">
            <div class="value-prop-detail" style="width: 350px;">
                <img src="../../../assets/img/lightbulb 2.png" alt="lightbulb">
                <p class="segoe-ui-regular">
                    Call Doctors has an appointment scheduling function that significantly reduces your waiting time.
                </p>
            </div>
            <div class="value-prop-detail" style="width: 500px;">
                <img src="../../../assets/img/lightbulb 2.png" alt="lightbulb">
                <p class="segoe-ui-regular">
                    Call Doctors has the function of displaying the exact and clear service prices of each medical
                    facility, helping you make optimal financial decisions.
                </p>
            </div>
            <div class="value-prop-detail" style="width: 450px;">
                <img src="../../../assets/img/lightbulb 2.png" alt="lightbulb">
                <p class="segoe-ui-regular">
                    Users can rate and view reputable reviews from people who have used the service, thereby choosing
                    the best quality medical facility.
                </p>
            </div>
        </div>
        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">User Flow</p>
        </div>
        <div class="cd-user-flow">
            <img src="../../../assets/img/User flow2.png" alt="userflow" width="100%">
            <p class="segoe-ui-regular">Flow of the appointment making function</p>
        </div>
        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Information Architecture</p>
        </div>
        <div class="cd-user-flow">
            <img src="../../../assets/img/IA.png" alt="ia" width="100%">
        </div>
        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Wireframe</p>
        </div>
        <div class="cd-user-flow">
            <img src="../../../assets/img/WF.png" alt="wf" width="100%">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Style Guide</p>
            <div class="w-100 d-flex justify-content-between">
                <div class="cd-color-container">
                    <div class="cd-color">
                        <div class="cd-color-block">
                            <p class="inter-regular ">Color Palette</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="cd-color-primary">
                                <div class="cd-color-block">
                                    <p class="inter-regular">Primary Color</p>
                                    <div class="main-color" style="background-color: {{vm.primaryColor}}">
                                        <p class="inter-regular">{{vm.primaryColor}}</p>
                                    </div>
                                </div>
                                <div class="cd-color-block">
                                    <p class="inter-regular" style="font-size: 14px; line-height: 16px !important;">
                                        Shades</p>
                                    <div class="main-color-range">
                                        <div class="w-25" ng-repeat="c in vm.primaryColorShade"
                                            style="height: 40px; background-color: {{c}}"></div>
                                    </div>
                                </div>
                                <div class="cd-color-block">
                                    <p class="inter-regular" style="font-size: 14px; line-height: 16px !important;">
                                        Tints</p>
                                    <div class="main-color-tint">
                                        <div class="w-25" ng-repeat="c in vm.primaryColorTint"
                                            style="height: 40px; background-color: {{c}}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cd-color-neutral">
                                <div class="cd-color-block">
                                    <p class="inter-regular">Neutral Color</p>
                                    <div class="main-color" style="background-color: {{vm.neutralColor}}">
                                        <p class="inter-regular">{{vm.neutralColor}}</p>
                                    </div>
                                </div>
                                <div class="cd-color-block">
                                    <p class="inter-regular" style="font-size: 14px; line-height: 16px !important;">
                                        Shades</p>
                                    <div class="main-color-range">
                                        <div class="w-25" ng-repeat="c in vm.neutralColorShade"
                                            style="height: 40px; background-color: {{c}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cd-font">
                        <div class="cd-color-block mb-0">
                            <p class="inter-regular">Font</p>
                        </div>
                        <div class="cd-font-sample">
                            <p class="inter-bold">Aa</p>
                            <div class="d-flex flex-column">
                                <p class="inter-semibold">Font</p>
                                <p class="inter-medium">Inter</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="inter-sample">
                                <div class="inter-demo">
                                    <span class="inter-bold">Aa</span>
                                </div>
                                <div class="inter-desc">
                                    <p class="inter-semibold">Inter</p>
                                    <span class="inter-semibold">Bold</span>
                                </div>
                            </div>
                            <div class="inter-sample">
                                <div class="inter-demo">
                                    <span class="inter-semibold">Aa</span>
                                </div>
                                <div class="inter-desc">
                                    <p class="inter-semibold">Inter</p>
                                    <span class="inter-semibold">Semibold</span>
                                </div>
                            </div>
                            <div class="inter-sample">
                                <div class="inter-demo">
                                    <span class="inter-medium">Aa</span>
                                </div>
                                <div class="inter-desc">
                                    <p class="inter-semibold">Inter</p>
                                    <span class="inter-semibold">Medium</span>
                                </div>
                            </div>
                            <div class="inter-sample">
                                <div class="inter-demo">
                                    <span class="inter-regular">Aa</span>
                                </div>
                                <div class="inter-desc">
                                    <p class="inter-semibold">Inter</p>
                                    <span class="inter-semibold">Regular</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cd-icon-container">
                    <div class="cd-icon">
                        <div class="cd-color-block">
                            <p class="inter-regular">Icon</p>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="cd-icon-detail" ng-repeat="i in vm.listIcon">
                                <i class="iconsax" icon-name="{{i.value}}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="redeli-block cd-vid">
            <video width="410" height="836" controls>
                <source src="../../../assets/img/Call Doctors.mp4" type="video/mp4">
              </video>
        </div>
    </div>
</div>