<div class="redeli-header"></div>
<div class="redeli-container">
    <div class="redeli-center">
        <div class="redeli-block redeli-problem">
            <div class="redeli-star">
                <img src="../../../assets/img/shape 2.png" alt="star2">
            </div>
            <div class="redeli-problem-content">
                <p class="redeli-problem-title segoe-ui-bold">The Problem</p>
                <p class="redeli-problem-desc segoe-ui-regular">Young people's demands for <b>high quality food</b>
                    are on the rise, and they can be <b>overwhelmed by the many choices</b> available today.</p>
            </div>
        </div>
        <div class="redeli-block redeli-solution">
            <div class="redeli-solution-content">
                <p class="redeli-solution-title segoe-ui-bold">Our Solution</p>
                <p class="redeli-solution-desc segoe-ui-regular"><b>reDeli</b> brings the user closer to the place to
                    eat and drink that is best suited to their <b>mood</b>, <b>budget</b> and preferences.</p>
            </div>
            <div class="redeli-star">
                <img src="../../../assets/img/shape 2.png" alt="star2">
            </div>
        </div>
        <div class="redeli-block">
            <img src="../../../assets/img/mockup1.png" alt="mockup1">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Recommendations based on moods</p>
            <p class="segoe-ui-regular">
                Whether you're feeling happy and celebratory, romantic, relaxed and casual, adventurous, nostalgic, or
                inspired and creative, this function suggests the perfect place to match your mood.
            </p>
        </div>
        <div class="redeli-block text-center">
            <img src="../../../assets/img/mockup3.png" alt="mockup3">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Auto planning</p>
            <p class="segoe-ui-regular">
                It takes into account the user's preferences, current mood, dietary restrictions, and location to curate
                a seamless and enjoyable experience. The function aims to save time and effort by providing a
                well-rounded plan that covers different parts of the day, ensuring that users have a delightful culinary
                journey from start to finish.
            </p>
        </div>
        <div class="redeli-block text-center">
            <img src="../../../assets/img/mockup4.png" alt="mockup4">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Easily find place and book table</p>
            <p class="segoe-ui-regular">
                By leveraging user preferences, location, and real-time availability data, it provides a seamless
                experience for discovering suitable venues and making reservations. Whether planning a quick coffee
                break, a dinner date, or an evening out with friends, this function ensures users can effortlessly find
                and secure a table without the hassle of manual searches and phone calls.
            </p>
        </div>
        <div class="redeli-last-bg"> </div>
        <div class="redeli-block redeli-last-star">
            <div class="d-flex">
                <img src="../../../assets/img/Color Shape 02 1.png" alt="2">
                <img src="../../../assets/img/Color Shape 02 1.png" alt="2">
                <img src="../../../assets/img/Color Shape 02 1.png" alt="2">
            </div>
        </div>
    </div>
</div>

<div class="w-100 redeli-style-guide">
    <div class="redeli-style">
        <div class="redeli-style-title">
            <p class="segoe-ui-bold">Style guide</p>
        </div>
        <div class="redeli-style-container">
            <div class="redeli-color-palette bg-white"></div>
            <div>
                <div class="redeli-typography bg-white"></div>
                <div class="redeli-icons bg-white"></div>
            </div>
        </div>
    </div>
</div>