<div class="redeli-header">
    <img src="../../../assets/img/13.png" alt="redeli">
</div>
<div class="redeli-container">
    <div class="redeli-center">
        <div class="redeli-block redeli-problem">
            <div class="redeli-star">
                <img src="../../../assets/img/shape 2.png" alt="star2">
            </div>
            <div class="redeli-problem-content">
                <p class="redeli-problem-title segoe-ui-bold">The Problem</p>
                <p class="redeli-problem-desc segoe-ui-regular">Young people's demands for <b>high quality food</b>
                    are on the rise, and they can be <b>overwhelmed by the many choices</b> available today.</p>
            </div>
        </div>
        <div class="redeli-block redeli-solution">
            <div class="redeli-solution-content">
                <p class="redeli-solution-title segoe-ui-bold">Our Solution</p>
                <p class="redeli-solution-desc segoe-ui-regular"><b>reDeli</b> brings the user closer to the place to
                    eat and drink that is best suited to their <b>mood</b>, <b>budget</b> and preferences.</p>
            </div>
            <div class="redeli-star">
                <img src="../../../assets/img/shape 2.png" alt="star2">
            </div>
        </div>
        <div class="redeli-block">
            <img src="../../../assets/img/mockup1.png" alt="mockup1">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Recommendations based on moods</p>
            <p class="segoe-ui-regular">
                Whether you're feeling happy and celebratory, romantic, relaxed and casual, adventurous, nostalgic, or
                inspired and creative, this function suggests the perfect place to match your mood.
            </p>
        </div>
        <div class="redeli-block text-center">
            <img src="../../../assets/img/mockup3.png" alt="mockup3">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Auto planning</p>
            <p class="segoe-ui-regular">
                It takes into account the user's preferences, current mood, dietary restrictions, and location to curate
                a seamless and enjoyable experience. The function aims to save time and effort by providing a
                well-rounded plan that covers different parts of the day, ensuring that users have a delightful culinary
                journey from start to finish.
            </p>
        </div>
        <div class="redeli-block text-center">
            <img src="../../../assets/img/mockup4.png" alt="mockup4">
        </div>
        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Easily find place and book table</p>
            <p class="segoe-ui-regular">
                By leveraging user preferences, location, and real-time availability data, it provides a seamless
                experience for discovering suitable venues and making reservations. Whether planning a quick coffee
                break, a dinner date, or an evening out with friends, this function ensures users can effortlessly find
                and secure a table without the hassle of manual searches and phone calls.
            </p>
        </div>
        <div class="redeli-last-bg">
            <img src="../../../assets/img/mockup2.png" alt="">
        </div>

        <div class="redeli-block redeli-last-star">
            <div class="d-flex">
                <img src="../../../assets/img/Color Shape 02 1.png" alt="2">
                <img src="../../../assets/img/Color Shape 02 1.png" alt="2">
                <img src="../../../assets/img/Color Shape 02 1.png" alt="2">
            </div>
        </div>
    </div>
</div>

<div class="w-100 redeli-style-guide">
    <div class="redeli-style">
        <div class="redeli-style-title">
            <p class="segoe-ui-bold">Style guide</p>
        </div>
        <div class="redeli-style-container">
            <div class="redeli-color-palette bg-white">
                <p class="poppins-bold">Color palette</p>
                <div class="color-palette-type">
                    <p class="poppins-regular">Primary color</p>
                    <div class="redeli-primary-color">
                        <div class="d-flex align-items-center"
                            style="padding-left:10px; height: 40px;color: #FFF; font-size: 8px; line-height:10px !important; background-color: {{vm.primaryColor}};">
                            <p>
                                {{vm.primaryColor}}
                            </p>
                        </div>
                        <div class="w-100 d-flex">
                            <div ng-repeat="c in vm.primaryListColor"
                                style="width: 30px; height: 30px; background-color: {{c}};"></div>
                        </div>
                    </div>
                </div>
                <div class="color-palette-type">
                    <p class="poppins-regular">Neutral color</p>
                    <div class="redeli-color">
                        <p class="poppins-regular">Gray</p>
                        <div class="d-flex">
                            <div ng-repeat="c in vm.neutralColor">
                                <div class="color-block" style="background-color: {{c}};">
                                </div>
                                <p class="poppins-regular color-block-desc">{{c}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="color-palette-type">
                    <p class="poppins-regular">Segmatic color</p>
                    <div class="redeli-segmatic-color">
                        <div class="redeli-color" ng-repeat="c in vm.segmaticColor">
                            <p class="poppins-regular">{{c.name}}</p>
                            <div class="d-flex">
                                <div ng-repeat="i in c.listColor">
                                    <div class="color-block" style='background-color: {{i}};'>
                                    </div>
                                    <p class="poppins-regular color-block-desc">{{i}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="redeli-typography bg-white">
                    <div style="margin-bottom: 70px;">
                        <p class="poppins-bold">Typography</p>
                        <div class="color-palette-type">
                            <p class="poppins-regular">
                                Below you’ll find sample text that I use to test my fonts. I’ve included an ever-growing
                                selection of character and symbol combinations to check your kerning, collisions and
                                overall
                                tone. Copy and paste into your desired testing program (I use Illustrator) and give your
                                characters a good twice over.
                            </p>
                        </div>
                    </div>
                    <div>
                        <p class="poppins-bold">Font Family: Poppins</p>
                        <div class="color-palette-type d-flex align-items-center justify-content-between">
                            <p class="poppins-medium" style="font-size: 96px; line-height: 120px !important;">Aa</p>

                            <div>
                                <p class="poppins-medium" style="font-size: 16px; line-height: 20px !important;">
                                    ABCDEFGHIKLMNOPQRSTUVWXYZ</p>
                                <p class="poppins-medium mt-2" style="font-size: 16px; line-height: 20px !important;">
                                    abcdefghiklmnopqruvxwyz</p>
                                <p class="poppins-medium mt-2" style="font-size: 16px; line-height: 20px !important;">
                                    0123456789</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="redeli-icons bg-white">
                    <p class="poppins-bold">Icons</p>
                    <div class="d-flex flex-wrap">
                        <div ng-repeat="i in vm.listIcon" style="width: 24px; height: 24px; margin: 12px 20px;">
                            <i class="iconsax" icon-name="{{i.value}}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="redeli-container">
    <div class="redeli-center">
        <div class="redeli-block redeli-process">
            <p class="segoe-ui-bold">Our Process</p>
            <p class="segoe-ui-regular">
                Click the button below to download our process book for a detailed look at our research and how our
                final designs & features came together.
            </p>
            <button class="redeli-process-btn" ng-click="vm.viewProcessBook()">Process book</button>
        </div>
    </div>
</div>