<div class="w-100" style="padding: 50px;">
    <p class="header-menu-name sulphur-point-bold">Tran Phuong Thao</p>
</div>

<div class="w-100 h-100 position-relative">
    <div class="cube6">
        <img src="../../assets/img/Cube6 - Transparent.png" alt="cube6">
    </div>
    <div class="main-title">
        <div class="d-flex justify-content-center">
            <p class="sulphur-point-bold" style="font-size: 24px;">My first website-</p>
        </div>
        <div class="d-flex justify-content-center">
            <span class="sulphur-point-bold text-uppercase" style="font-size: 130px;">Portfolio</span>
            <div class="d-flex align-items-end">
                <div class="btn-tooltip">
                    <span class="sulphur-point-bold" style="font-size: 16px;">as a</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="sulphur-point-bold text-uppercase" style="font-size: 130px;">UX/UI Designer</p>
        </div>
    </div>
    <div class="group134">
        <img src="../../assets/img/Group 134.png" alt="group134">
    </div>
</div>

<div class="w-100 h-100 d-flex justify-content-center" style="margin-bottom: 120px;">
    <img src="../../assets/img/Shape.png" alt="Shape">
</div>

<div class="w-100 h-auto d-flex justify-content-center align-items-center" style="margin-bottom: 72px;">
    <p class="sulphur-point-bold text-uppercase" style="font-size: 130px; "> My Projects</p>
</div>

<div class="w-100 project-container" style="margin-bottom: 72px;">
    <div class="w-50 project">
        <a ui-sref="redeli" class="h-100 project-detail">
            <div class="w-50 text-center">
                <img class="project-mockup-img" src="../../assets/img/iPhone 15 Pro Portrait Mockup.png" alt="redeli">
            </div>
            <div class="w-50 project-detail-text position-relative">
                <p class="montserrat-bold mb-3">reDeli</p>
                <p class="montserrat-bold mb-2" style="font-size: 20px;">Mobile app</p>
                <p class="montserrat-light" style="font-size: 18px; line-height: 1.3 !important;">
                    If you always looking for a place to dine out with your friends or your partner, you might
                    interested in my solution. Check it out!
                </p>
                <i class="bi bi-box-arrow-up-right position-absolute project-icon"
                    style="right: 0; bottom: 0; font-size: 30px;"></i>
            </div>
        </a>
    </div>

    <div class="w-50 project">
        <a ui-sref="calldoctors" class="h-100 project-detail">
            <div class="w-50 text-center">
                <img class="project-mockup-img" src="../../assets/img/iPhone 15 Pro Black Titanium Mockup Portrait.png"
                    alt="calldoctors">
            </div>
            <div class="w-50 project-detail-text position-relative">
                <p class="montserrat-bold mb-3">Call Doctor</p>
                <p class="montserrat-bold mb-2" style="font-size: 20px;">Mobile app</p>
                <p class="montserrat-light" style="font-size: 18px; line-height: 1.3 !important;">
                    If you are struggling with the medical treatment process in hospitals, and want to save time, you
                    might need this product. Check it out!
                </p>
                <i class="bi bi-box-arrow-up-right position-absolute project-icon"
                    style="right: 0; bottom: 0; font-size: 30px;"></i>
            </div>
        </a>
    </div>

    <div class="w-50 project">
        <a ui-sref="cake" class="h-100 project-detail">
            <div class="w-50 text-center">
                <img class="project-mockup-img" src="../../assets/img/iPhone 15 Pro Portrait Mockup2.png" alt="cake">
            </div>
            <div class="w-50 project-detail-text position-relative">
                <p class="montserrat-bold mb-3">Cake</p>
                <p class="montserrat-bold mb-2" style="font-size: 20px;">Mobile app</p>
                <p class="montserrat-light" style="font-size: 18px; line-height: 1.3 !important;">
                    Find out how my team redesigned this product for better usability and compelling new features.
                </p>
                <i class="bi bi-box-arrow-up-right position-absolute project-icon"
                    style="right: 0; bottom: 0; font-size: 30px;"></i>
            </div>
        </a>
    </div>
</div>

<div class="w-100 d-flex justify-content-center" style="margin-bottom: 72px;">
    <div class="project-desc">
        <p class="sulphur-point-regular text-center " style="font-size: 20px;">
            Each project showcases my journey through various challenges and creative processes, highlighting my ability
            to turn ideas into reality.
        </p>
    </div>
</div>