<div class="cake-cover">
    <img src="../../../assets/img/cake-cover.png" alt="cakecover">
</div>
<div class="redeli-container">
    <div class="redeli-center">
        <div class="redeli-block text-center">
            <img src="../../../assets/img/Design thinking.png" alt="mockup1">
        </div>
        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Research</p>
        </div>

        <div class="cake-research">
            <ul>
                <li class="segoe-ui-regular">Be Group phối hợp cùng VPBank ra mắt ngân hàng số Cake. Cake là một dịch vụ
                    ngân hàng số của VPBank,
                    một trong những ngân hàng lớn tại Việt Nam. Cake được ra mắt vào cuối năm 2020 và được thiết kế để
                    cung cấp trải nghiệm ngân hàng kỹ thuật số tiện lợi và linh hoạt cho người dùng.</li>
                <li class="segoe-ui-regular">Đối tượng Cake by VPBank hướng tới chính là những người dùng cá nhân những
                    người trẻ từ 16 tuổi trở
                    lên và doanh nghiệp có nhu cầu sử dụng các dịch vụ tài chính trực tuyến.</li>
            </ul>
            <p class="segoe-ui-regular">
                Hai "kỷ lục" mà CAKE đang nắm giữ:
            </p>
            <ul>
                <li class="segoe-ui-regular">
                    Ngân hàng số đầu tiên tại Việt Nam có được 1,6 triệu khách hàng chỉ sau 15 tháng ra mắt (tính đến
                    tháng 4/2022).
                </li>
                <li class="segoe-ui-regular">
                    Ngân hàng đầu tiên tại châu Á - Thái Bình Dương đạt kỷ lục chuyển đổi core banking chỉ trong 74
                    ngày.
                </li>
            </ul>
        </div>

        <div class="cake-advantage">
            <p class="segoe-ui-bold">Advantage</p>
            <div class="cake-advantage-list">
                <div class="cake-advantage-detail">
                    <div class="advantage-no">
                        <p class="segoe-ui-regular">1</p>
                    </div>
                    <p class="segoe-ui-regular">
                        Tính pháp lý về ngân hàng số vẫn còn hạn chế nên sẽ tồn tại rủi ro.
                    </p>
                </div>
                <div class="cake-advantage-detail">
                    <div class="advantage-no">
                        <p class="segoe-ui-regular">2</p>
                    </div>
                    <p class="segoe-ui-regular">
                        Tính năng mua chứng chỉ quỹ chưa chuyên sâu.
                    </p>
                </div>
                <div class="cake-advantage-detail">
                    <div class="advantage-no">
                        <p class="segoe-ui-regular">3</p>
                    </div>
                    <p class="segoe-ui-regular">
                        Chưa có quét NFC, tính năng đăng ký còn bất tiện
                    </p>
                </div>
            </div>
        </div>

        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">User Personas</p>
            <p class="segoe-ui-regular">
                Dựa vào kết quả của primary research, 2 personas đã được đưa ra:
            </p>
            <div class="cake-up">
                <img src="../../../assets/img/up-chua trai nghiem.png" alt="up1">
                <img src="../../../assets/img/up-da trai nghiem.png" alt="up2">
            </div>
        </div>

        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Problem Statement</p>
            <p class="segoe-ui-regular" style="margin-bottom: 24px !important;">
                1. Nhi cần một giải pháp nhanh chóng và tiện lợi để theo dõi các giao dịch tài chính, quản lí tiết kiệm
                chi tiêu và nhận thông báo tức thời về các giao dịch vì cô cảm thấy khó khăn trong việc quản lý dòng
                tiền cá nhân và chi tiêu hàng ngày.
            </p>
            <p class="segoe-ui-regular" style="margin-bottom: 24px !important;">
                2. Quân cần một giải pháp tài chính an toàn, tiện lợi để tiết kiệm cho tương lai của gia đình và quản lý
                các khoản vay một cách hiệu quả vì anh gặp khó khăn trong việc đảm bảo tài chính dài hạn và quản lý ngân
                sách gia đình.
            </p>
        </div>

        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Value Proposition</p>
        </div>
        <div class="cd-value-prop">
            <div class="value-prop-detail" style="width: 500px;">
                <img src="../../../assets/img/lightbulb 2.png" alt="lightbulb">
                <p class="segoe-ui-regular">
                    Cake đảm bảo an toàn và bảo mật 100% trong quá trình giao dịch dựa vào công nghệ xác thực cao.
                </p>
            </div>
            <div class="value-prop-detail" style="width: 400px;">
                <img src="../../../assets/img/lightbulb 2.png" alt="lightbulb">
                <p class="segoe-ui-regular">
                    Cake giúp bạn dễ dàng theo dõi dòng tiền và tiết kiệm chi tiêu của mình.
                </p>
            </div>
            <div class="value-prop-detail" style="width: 450px;">
                <img src="../../../assets/img/lightbulb 2.png" alt="lightbulb">
                <p class="segoe-ui-regular">
                    Cake cung cấp một ứng dụng ngân hàng số với giao diện hiện đại và dễ sử dụng.
                </p>
            </div>
        </div>

        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">User Flow</p>
        </div>
        <div class="cake-user-flow">
            <img src="../../../assets/img/user flow - đăng ký 1.png" alt="userflow" width="100%">
            <p class="segoe-ui-regular">User flow cho chức năng đăng ký</p>
        </div>

        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Information Architecture</p>
        </div>
        <div class="cake-user-flow">
            <img src="../../../assets/img/IA version 2.png" alt="ia" width="100%">
        </div>

        <div class="redeli-block redeli-recommend mb-0">
            <p class="segoe-ui-bold">Wireframe</p>
        </div>
        <div class="cake-wf">
            <img src="../../../assets/img/image 28.png" alt="wf">
            <img src="../../../assets/img/image 29.png" alt="wf">
        </div>

        <div class="redeli-block redeli-recommend">
            <p class="segoe-ui-bold">Style Guide</p>
            <div class="w-100 d-flex justify-content-evenly">
                <div class="cake-color-palette">
                    <p class="be-vietnam-pro-bold">Color palette</p>
                    <div class="cake-color-type">
                        <p class="be-vietnam-pro-regular">Primary color</p>
                        <div class="cake-color-primary" style="background-color: {{vm.primaryColor}}">
                            <p class="be-vietnam-pro-regular">{{vm.primaryColor}}</p>
                        </div>
                        <div class="cake-color-primary-range">
                            <div ng-repeat="c in vm.primaryColorRange" style="background-color: {{c}}"></div>
                        </div>
                    </div>
                    <div class="cake-color-type">
                        <p class="be-vietnam-pro-regular">Neutral color</p>
                        <div class="cake-color-neutral">
                            <p class="be-vietnam-pro-regular">Gray</p>
                            <div class="cake-color-neutral-range">
                                <div ng-repeat="c in vm.neutralColorRange">
                                    <div style="background-color: {{c}}"> </div>
                                    <p class="be-vietnam-pro-regular">{{c}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-color-type">
                        <p class="be-vietnam-pro-regular">Segmatic color</p>
                        <div class="w-100 d-flex flex-wrap">
                            <div class="cake-color-segmatic" ng-repeat="i in vm.segmaticColorRange">
                                <p class="be-vietnam-pro-regular">{{i.name}}</p>
                                <div class="cake-color-segmatic-range">
                                    <div ng-repeat="c in i.listColor">
                                        <div style="background-color: {{c}}"> </div>
                                        <p class="be-vietnam-pro-regular">{{c}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cake-typography">
                    <div style="margin-bottom: 70px;">
                        <p class="be-vietnam-pro-bold">Typography</p>
                        <div class="color-palette-type">
                            <p class="be-vietnam-pro-regular">
                                Below you’ll find sample text that I use to test my fonts. I’ve included an ever-growing
                                selection of character and symbol combinations to check your kerning, collisions and
                                overall
                                tone. Copy and paste into your desired testing program (I use Illustrator) and give your
                                characters a good twice over.
                            </p>
                        </div>
                    </div>
                    <div>
                        <p class="be-vietnam-pro-bold">Font Family: Be Vietnam Pro</p>
                        <div class="color-palette-type d-flex align-items-center justify-content-between">
                            <p class="be-vietnam-pro-medium" style="font-size: 96px; line-height: 120px !important;">Aa
                            </p>

                            <div>
                                <p class="be-vietnam-pro-medium" style="font-size: 16px; line-height: 20px !important;">
                                    ABCDEFGHIKLMNOPQRSTUVWXYZ</p>
                                <p class="be-vietnam-pro-medium mt-2"
                                    style="font-size: 16px; line-height: 20px !important;">
                                    abcdefghiklmnopqruvxwyz</p>
                                <p class="be-vietnam-pro-medium mt-2"
                                    style="font-size: 16px; line-height: 20px !important;">
                                    0123456789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="redeli-block cd-vid">
            <video width="410" height="836" controls>
                <source src="../../../assets/img/Cake.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>