<!-- cover -->
<button id="btn-menu-bar" ng-click="vm.toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</button>
<div class="header-menu menu-show-hide" ng-show="vm.showMenu" off-click="vm.showMenu=false"
    off-click-activator="vm.showMenu">
    <div class="header-menu-content">
        <div>
            <p class="header-menu-name sulphur-point-bold">Tran Phuong Thao</p>
            <p class="header-menu-position sulphur-point-regular">UX/UI designer</p>
        </div>
        <div class="d-flex header-menu-list">
            <div>
                <p>Menu</p>
                <br>
                <p ng-repeat="item in vm.Menu">
                    <a ui-sref="{{item.path}}" ng-class="vm.Current == item.path ? 'active':''">
                        {{item.name}}
                    </a>
                </p>
            </div>
            <div>
                <p>Project</p>
                <br>
                <p ng-repeat="item in vm.Project">
                    <a ui-sref="{{item.path}}" ng-class="vm.Current == item.path ? 'active':''">
                        {{item.name}}
                    </a>
                </p>
            </div>
            <div style="width: 200px; margin: 0;"></div>
        </div>
    </div>
</div>
<ui-view></ui-view>