html,
body {
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
span {
    line-height: 1 !important;
    margin: 0 !important;
}

.w-05 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 70% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.header-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.menu-show-hide.ng-hide {
    opacity: 0;
}

.menu-show-hide.ng-hide-add,
.menu-show-hide.ng-hide-remove {
    transition: all linear 0.3s;
}

.footer-content {
    background-color: white;
    height: 240px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
}

.footer-menu a {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #727272;
    margin: 0 40px !important;
}

.footer-icon {
    display: flex;
    margin-left: 90px;
}

.footer-icon i {
    font-size: 28px;
}

.header-menu-content {
    background: rgba(255, 255, 255, 0.95);
    height: 300px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.header-menu-content p {
    margin: 0;
}

.header-menu-name {
    font-size: 28px;
    text-transform: uppercase;
}

.header-menu-position {
    font-size: 22px;
    text-transform: capitalize;
}

.header-menu-list div {
    margin-right: 100px;
}

.header-menu-list div p {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#btn-menu-bar {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 3;
    border: none;
    outline: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

#btn-menu-bar span {
    position: absolute;
    width: 30px;
    height: 4px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;
}

#btn-menu-bar span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: gray;
    transition: all 0.3s linear;
}

#btn-menu-bar span:nth-child(1) {
    animation: span-first-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn-menu-bar span:nth-child(2) {
    animation: span-second-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn-menu-bar span:nth-child(3) {
    animation: span-third-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn-menu-bar.on:hover span::before {
    width: 100%;
    transition: all 0.3s linear;
}

#btn-menu-bar.on span:nth-child(1) {
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    background: black !important;
}

#btn-menu-bar.on span:nth-child(2) {
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn-menu-bar.on span:nth-child(3) {
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    background: black !important;
}

@keyframes span-first-on {
    0% {
        transform: translate(-50%, -300%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes span-first-off {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -300%);
    }
}

@keyframes span-second-on {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        background: white;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-150%, -50%) scale(0);
    }
}

@keyframes span-second-off {
    0% {
        transform: translate(-150%, -50%) scale(0);
    }

    25% {
        background: white;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes span-third-on {
    0% {
        transform: translate(-50%, 200%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes span-third-off {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 200%);
    }
}

.active {
    color: #8C8C8C;
}

.cube6 {
    width: 584px;
    height: 548px;
    left: -148px;
    top: 0px;
    position: absolute;
}

.cube6 img {
    width: 100%;
    height: 100%;
}

.main-title {
    width: 894px;
    height: 340px;
    position: absolute;
    top: 173px;
    left: 512px;
}

.main-title p,
span {
    margin: 0;
    letter-spacing: 0;
}

.btn-tooltip {
    border-radius: 12px;
    padding: 5px 15px;
    line-height: 1;
    rotate: -20deg;
    background-image: linear-gradient(to right, #000000, #000000, #000000, #A0A0A0);
}

.btn-tooltip span {
    color: white;
}

.group134 {
    width: 753px;
    height: 757px;
    left: 1264px;
    top: 109px;
    position: absolute;
    rotate: -121deg;
}

.group134 img {
    width: 100%;
    height: 100%;
}

.project-container {
    height: auto;
    background-image: url("../img/purple.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-wrap: wrap;
    padding: 36px;
    z-index: 0;
}

.project {
    z-index: 1;
    padding: 36px;
}

.project-detail {
    z-index: 2;
    border-radius: 40px;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 88px 54px;

    display: flex;
    flex-wrap: wrap;
}

.project-mockup-img {
    height: 320px;
    object-fit: cover;
    transition: all 0.5s;
}

.project-detail-text {
    padding: 40px 0;
    color: white;
    font-size: 48px;
}

.project-detail-text p {
    transition: all 0.5s;
}

.project-detail:hover .project-mockup-img {
    transform: scale(1.1);
}

.project-detail:hover .project-detail-text p {
    transform: translateY(-10px);
}

.project-icon {
    transition: all 0.5s;
}

.project-detail:hover .project-icon {
    transform: scale(1.3);
}

.project-desc {
    width: 896px;
    height: auto;
}

.scroll-top {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    bottom: 250px;
}

.contact-container {
    height: 1013px;
    background-image: url("../img/purple.png");
    background-repeat: no-repeat;
    padding: 50px;
    z-index: 0;
}

.contact-desc-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.contact-desc {
    width: 557px;
    height: auto;
}

.contact-glass {
    width: 565px;
    height: 378px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 46px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-glass p {
    color: rgba(255, 255, 255, 0.7)
}

.about-header-container {
    width: 1131px;
    height: 546px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-star {
    width: 282px;
    height: 282px;
    background-image: url("../img/p90\ 1.png");
    position: absolute;
    top: -100px;
    left: 45%;
    transform: translateX(-45%);
    z-index: 2;
}

.about-header {
    width: 100%;
    height: 100%;
    display: flex;
}

.about-header .about-header-img {
    width: 50%;
    height: 100%;
    background-color: blue;
}

.about-header .about-header-desc {
    width: 50%;
    height: 100%;
    padding-left: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-header-desc .sulphur-point-regular {
    color: #000000;
    font-size: 40px;
}

.about-header-desc .segoe-ui-regular {
    color: #4A4A4A;
    font-size: 20px;
    line-height: normal !important;
}

.about-content {
    width: 1024px;
    padding-left: 30px;
    border-left: #D4D4D4 1px solid;
}

.about-content-block {
    width: 100%;
    margin: 28px 0px !important;
    position: relative;
}

.about-content-star {
    background-image: url("../img/Color\ Shape\ 01\ 4.png");
    background-size: 100% 100%;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -7px;
    left: -48px;
}

.about-content-block .sulphur-point-bold {
    font-size: 24px;
    color: #000000;
    margin-bottom: 16px !important;
}

.about-content-block .segoe-ui-regular {
    font-size: 22px;
    color: #464646;
    line-height: normal !important;
}

.redeli-header {
    width: 100%;
    height: 1132px;
    background-image: url("../img/13.png");
    margin-bottom: 179px;
}

.redeli-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.redeli-center {
    height: auto;
}

.redeli-block {
    margin-bottom: 80px;
    width: 1204px;
}

.redeli-star {
    width: auto;
    height: auto;
}

.redeli-star img {
    width: 72px;
    height: 72px;
}

.redeli-problem {
    display: flex;
    justify-content: start;
}

.redeli-problem .redeli-star {
    margin-right: 48px;
}

.redeli-problem-content {
    width: 1079px;
    height: auto;
}

.redeli-problem .segoe-ui-bold {
    font-size: 36px;
    color: #000000;
    margin-bottom: 24px !important;
    line-height: normal !important;
}

.redeli-problem .segoe-ui-regular {
    font-size: 28px;
    color: #000000;
    line-height: normal !important;
}

.redeli-solution {
    display: flex;
    justify-content: end;
}

.redeli-solution .redeli-star {
    margin-left: 48px;
}

.redeli-solution-content {
    width: 895px;
    height: auto;
}

.redeli-solution .segoe-ui-bold {
    font-size: 36px;
    color: #000000;
    text-align: end;
    margin-bottom: 24px !important;
    line-height: normal !important;
}

.redeli-solution .segoe-ui-regular {
    font-size: 28px;
    color: #000000;
    text-align: end;
    line-height: normal !important;
}

.redeli-recommend {
    height: auto;
}

.redeli-recommend .segoe-ui-bold {
    font-size: 36px;
    color: #000000;
    margin-bottom: 24px !important;
    line-height: normal !important;
}

.redeli-recommend .segoe-ui-regular {
    font-size: 28px;
    color: #000000;
    line-height: normal !important;
}

.redeli-last-bg {
    background-image: url('../img/mockup2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 672px;
}

.redeli-last-star {
    display: flex;
    justify-content: center;
}

.redeli-last-star img {
    width: 77px;
    height: 72px;
}

.redeli-style-guide {
    background-image: url('../img/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.redeli-style {
    width: 1500px;
    height: auto;
    padding: 72px 0px;
}

.redeli-style-title {
    margin-bottom: 72px;
}

.redeli-style-title .segoe-ui-bold {
    font-size: 36px;
    color: #FFFFFF;
    line-height: normal !important;
}

.redeli-style-container {
    display: flex;
    justify-content: space-between;
}

.redeli-color-palette {
    width: 850px;
    height: fit-content;
    padding: 24px;
    border-radius: 24px;
}

.redeli-color-palette .poppins-bold {
    font-size: 28px;
    line-height: 35px !important;
    color: #000000;
}

.redeli-color-palette .poppins-regular {
    font-size: 16px;
    line-height: 24px !important;
    color: #000000;
}

.redeli-primary-color {
    width: 210px;
}

.redeli-color .poppins-regular {
    font-size: 10px;
    line-height: 16px !important;
    color: #000000;
}

.redeli-segmatic-color {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.redeli-segmatic-color .redeli-color {
    margin-right: 50px;
    margin-bottom: 20px;
}

.redeli-typography {
    width: 584px;
    height: fit-content;
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 50px;
}

.redeli-typography .poppins-bold {
    font-size: 28px;
    line-height: 35px !important;
    color: #000000;
}

.redeli-typography .poppins-regular {
    font-size: 16px;
    line-height: 22px !important;
    color: #000000;
}

.redeli-icons {
    width: 584px;
    height: auto;
    padding: 24px;
    border-radius: 24px;
}

.redeli-icons .poppins-bold {
    font-size: 28px;
    line-height: 35px !important;
    color: #000000;
    text-align: center;
    margin-bottom: 24px;
}

.redeli-icons i {
    font-size: 24px;
}

.color-block {
    width: 50px;
    height: 36px;
}

.color-block-desc {
    font-size: 8px;
    line-height: 12px !important;
    color: #A9A9A9 !important;
}

.color-palette-type {
    margin: 50px 0 0 0;
}

.redeli-process .segoe-ui-bold {
    font-size: 36px;
    color: #000000;
    margin-bottom: 24px !important;
    line-height: normal !important;
}

.redeli-process .segoe-ui-regular {
    font-size: 28px;
    color: #000000;
    margin-bottom: 24px !important;
    line-height: normal !important;
}

.redeli-process-btn {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: none;
    border: 1px solid #000000;
    border-radius: 24px;
    padding: 16px 48px;
    font-size: 22px;
    line-height: 29px !important;
}