<div class="w-100 contact-container">
    <p class="header-menu-name sulphur-point-bold text-white">Tran Phuong Thao</p>
    <div class="contact-desc-container">
        <div class="contact-desc">
            <p class="sulphur-point-bold text-white text-center" style="font-size: 40px;">
                Get in touch & let’s create something awesome together.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="contact-glass text-center">
            <div>
                <p class="sulphur-point-bold" style="font-size: 28px;">My contact details </p>
            </div>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=tphuongthao187@gmail.com" target="_blank">
                <p class="sulphur-point-bold" style="font-size: 20px;">Email</p>
                <p class="sulphur-point-regular text-white" style="font-size: 22px;">tphuongthao@gmail.com</p>
            </a>
            <a href="tel:0962257510">
                <p class="sulphur-point-bold" style="font-size: 20px;">Phone</p>
                <p class="sulphur-point-regular text-white" style="font-size: 22px;">+0964735598</p>
            </a>
            <a href="http://maps.google.com/?q=30 ngõ 12 Bồ Đề, Long Biên, Hà Nội" target="_blank">
                <p class="sulphur-point-bold" style="font-size: 20px;">Address</p>
                <p class="sulphur-point-regular text-white" style="font-size: 22px;">Hanoi, Vietnam</p>
            </a>
        </div>
    </div>
</div>