<div class="w-100 contact-container">
    <p class="header-menu-name sulphur-point-bold text-white">Tran Phuong Thao</p>
    <div class="contact-desc-container">
        <div class="contact-desc">
            <p class="sulphur-point-bold text-white text-center" style="font-size: 40px;">
                Get in touch & let’s create something awesome together.
            </p>
        </div>


    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="contact-glass text-center">
            <p class="sulphur-point-bold" style="font-size: 28px;">My contact details
            </p>

            <p class="sulphur-point-bold" style="font-size: 20px;">Email</p>
            <p class="sulphur-point-bold" style="font-size: 20px;">Phone</p>
            <p class="sulphur-point-bold" style="font-size: 20px;">Address</p>
        </div>
    </div>
</div>