<div class="w-100" style="padding: 50px;">
    <p class="header-menu-name sulphur-point-bold">Tran Phuong Thao</p>
</div>
<div class="w-100 position-relative" style="height: 546px;">
    <div class="about-header-container">
        <div class="about-star"></div>
        <div class="about-header">
            <div class="about-header-img">
                <img src="../../assets/img/hazen.jpg" alt="cover" width="100%">
            </div>
            <div class="about-header-desc">
                <p class="sulphur-point-regular mb-3">Tran Phuong Thao</p>
                <p class="segoe-ui-regular">Hustle, enthusiastic about gaining knowledge<br> and open-minded. </p>
            </div>
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-center">
    <div class="about-content">
        <div class="about-content-block">
            <div class="about-content-star"></div>
            <p class="sulphur-point-bold">Background:</p>
            <p class="segoe-ui-regular">
                I graduated from Vietnam National University with a bachelor's degree in Foreign Language. It has given
                me the opportunity to work in technology companies, where I discovered my true calling in UX/UI design.
                This unique combination of language skills and technical experience has equipped me with a diverse skill
                set, allowing me to approach design with a fresh and innovative perspective.
            </p>
        </div>
        <div class="about-content-block">
            <div class="about-content-star"></div>
            <p class="sulphur-point-bold">Interests:</p>
            <p class="segoe-ui-regular">
                When I'm not designing, you can find me exploring new places and cultures as I love to travel. This
                passion for travel not only broadens my horizons but also inspires my design work, allowing me to
                incorporate diverse perspectives and ideas. I'm also a proud cat lover, and my feline friends provide
                endless joy and comfort in my life.
            </p>
        </div>
        <div class="about-content-block">
            <div class="about-content-star"></div>
            <p class="sulphur-point-bold">Personality:</p>
            <p class="segoe-ui-regular">
                As an INFP, I am driven by a deep sense of empathy and a desire to make a positive impact through my
                work. I believe that great design has the power to improve lives, and I am dedicated to crafting
                experiences that resonate with users on a personal level.
            </p>
        </div>
    </div>
</div>